* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.v36_968 {
  width: 430px;
  height: 932px;
  background: rgba(233,250,255,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  border-top-left-radius: 18px;
  border-top-right-radius: 18px;
  border-bottom-left-radius: 18px;
  border-bottom-right-radius: 18px;
  overflow: hidden;
}
.v36_969 {
  width: 430px;
  height: 82px;
  background: rgba(71,138,166,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.v52_1409 {
  width: 388px;
  height: 75px;
  background: rgba(212,242,255,1);
  opacity: 1;
  position: absolute;
  top: 113px;
  left: 21px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow: hidden;
}
.v52_1410 {
  width: 348px;
  height: 42px;
  background: rgba(233,251,255,1);
  opacity: 1;
  position: absolute;
  top: 130px;
  left: 41px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.v52_1411 {
  width: 231px;
  color: rgba(82,102,121,0.5);
  position: absolute;
  top: 142px;
  left: 82px;
  font-family: Calibri;
  font-weight: Regular;
  font-size: 15px;
  opacity: 1;
  text-align: left;
}
.v52_1412 {
  width: 24px;
  height: 24px;
  background: url("../images/v52_1412.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 139px;
  left: 51px;
  overflow: hidden;
}
.v52_1413 {
  width: 24px;
  height: 24px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v52_1414 {
  width: 20px;
  height: 16px;
  background: url("../images/v52_1414.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 4px;
  left: 2px;
  overflow: hidden;
}
.v52_1415 {
  width: 4px;
  height: 4px;
  background: url("../images/v52_1415.png");
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 6px;
  border: 2px solid rgba(71,138,166,1);
}
.v52_1416 {
  width: 16px;
  height: 12px;
  background: url("../images/v52_1416.png");
  opacity: 1;
  position: absolute;
  top: 4px;
  left: 2px;
  border: 2px solid rgba(71,138,166,1);
}
.v52_1417 {
  width: 20px;
  height: 2px;
  background: url("../images/v52_1417.png");
  opacity: 1;
  position: absolute;
  top: 9px;
  left: 0px;
  border: 2px solid rgba(71,138,166,1);
}
.v52_1418 {
  width: 24px;
  height: 24px;
  background: url("../images/v52_1418.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 141px;
  left: 354px;
  overflow: hidden;
}
.v52_1419 {
  width: 24px;
  height: 24px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v52_1420 {
  width: 20px;
  height: 23px;
  background: rgba(71,138,166,1);
  opacity: 1;
  position: absolute;
  top: 1px;
  left: 3px;
}
.v52_1421 {
  width: 290px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 29px;
  left: 70px;
  font-family: Calibri;
  font-weight: Bold;
  font-size: 24px;
  opacity: 1;
  text-align: center;
}
.v52_1868 {
  width: 388px;
  height: 365px;
  background: rgba(212,242,255,1);
  opacity: 1;
  position: absolute;
  top: 207px;
  left: 21px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.v52_1875 {
  width: 273px;
  height: 136px;
  background: url("../images/v52_1875.png");
  opacity: 1;
  position: absolute;
  top: 324px;
  left: 110px;
  border: 3px solid rgba(71,138,166,1);
}
.v52_1876 {
  width: 80px;
  color: rgba(30,50,72,1);
  position: absolute;
  top: 227px;
  left: 44px;
  font-family: Calibri;
  font-weight: Bold;
  font-size: 24px;
  opacity: 1;
  text-align: center;
}
.v52_1877 {
  width: 21px;
  color: rgba(82,102,121,1);
  position: absolute;
  top: 512px;
  left: 50px;
  font-family: Calibri;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: center;
}
.v52_1878 {
  width: 40px;
  color: rgba(82,102,121,1);
  position: absolute;
  top: 529px;
  left: 108px;
  font-family: Calibri;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: center;
}
.v52_1879 {
  width: 50px;
  color: rgba(82,102,121,1);
  position: absolute;
  top: 529px;
  left: 221px;
  font-family: Calibri;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: center;
}
.v52_1880 {
  width: 50px;
  color: rgba(82,102,121,1);
  position: absolute;
  top: 529px;
  left: 332px;
  font-family: Calibri;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: center;
}
.v52_1881 {
  width: 32px;
  color: rgba(82,102,121,1);
  position: absolute;
  top: 412px;
  left: 44px;
  font-family: Calibri;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: center;
}
.v52_1882 {
  width: 32px;
  color: rgba(82,102,121,1);
  position: absolute;
  top: 313px;
  left: 44px;
  font-family: Calibri;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: center;
}
.v52_1883 {
  width: 32px;
  color: rgba(82,102,121,1);
  position: absolute;
  top: 462px;
  left: 44px;
  font-family: Calibri;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: center;
}
.v52_1884 {
  width: 32px;
  color: rgba(82,102,121,1);
  position: absolute;
  top: 362px;
  left: 44px;
  font-family: Calibri;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: center;
}
.v52_1885 {
  width: 32px;
  color: rgba(82,102,121,1);
  position: absolute;
  top: 263px;
  left: 44px;
  font-family: Calibri;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: center;
}
.v52_1887 {
  width: 23px;
  height: 46px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 64px;
  left: 48px;
  overflow: hidden;
}
.v52_1888 {
  width: 14px;
  height: 24px;
  background: rgba(233,251,255,1);
  opacity: 1;
  position: absolute;
  top: 11px;
  left: 6px;
}
.v125_1126 {
  width: 147px;
  height: 45px;
  background: rgba(212,242,255,1);
  opacity: 1;
  position: absolute;
  top: 586px;
  left: 21px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.v125_1143 {
  width: 211px;
  height: 45px;
  background: rgba(212,242,255,1);
  opacity: 1;
  position: absolute;
  top: 645px;
  left: 21px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.v125_1133 {
  width: 147px;
  height: 45px;
  background: rgba(212,242,255,1);
  opacity: 1;
  position: absolute;
  top: 586px;
  left: 262px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.v125_1152 {
  width: 147px;
  height: 45px;
  background: rgba(212,242,255,1);
  opacity: 1;
  position: absolute;
  top: 645px;
  left: 262px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.v125_1127 {
  width: 85px;
  color: rgba(71,138,166,1);
  position: absolute;
  top: 598px;
  left: 65px;
  font-family: Calibri;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: center;
}
.v125_1144 {
  width: 152px;
  color: rgba(71,138,166,1);
  position: absolute;
  top: 657px;
  left: 65px;
  font-family: Calibri;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: center;
}
.v125_1134 {
  width: 93px;
  color: rgba(71,138,166,1);
  position: absolute;
  top: 598px;
  left: 302px;
  font-family: Calibri;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: center;
}
.v125_1153 {
  width: 61px;
  color: rgba(71,138,166,1);
  position: absolute;
  top: 657px;
  left: 302px;
  font-family: Calibri;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: center;
}
.v125_1132 {
  width: 24px;
  height: 24px;
  background: url("../images/v125_1132.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 595px;
  left: 38px;
  overflow: hidden;
}
.v125_1128 {
  width: 24px;
  height: 24px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v125_1129 {
  width: 17px;
  height: 17px;
  background: url("../images/v125_1129.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 2px;
  left: 4px;
  overflow: hidden;
}
.v125_1130 {
  width: 13px;
  height: 13px;
  background: url("../images/v125_1130.png");
  opacity: 1;
  position: absolute;
  top: 4px;
  left: 0px;
  border: 2px solid rgba(71,138,166,1);
}
.v125_1131 {
  width: 12px;
  height: 12px;
  background: url("../images/v125_1131.png");
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 5px;
  border: 2px solid rgba(71,138,166,1);
}
.v125_1142 {
  width: 24px;
  height: 24px;
  background: url("../images/v125_1142.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 596px;
  left: 275px;
  overflow: hidden;
}
.v125_1140 {
  width: 24px;
  height: 24px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v125_1141 {
  width: 16px;
  height: 18px;
  background: rgba(71,138,166,1);
  opacity: 1;
  position: absolute;
  top: 3px;
  left: 4px;
}
.v125_1150 {
  width: 24px;
  height: 24px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 654px;
  left: 38px;
  overflow: hidden;
}
.v125_1151 {
  width: 16px;
  height: 20px;
  background: rgba(71,138,166,1);
  opacity: 1;
  position: absolute;
  top: 2px;
  left: 4px;
}
.v125_1157 {
  width: 24px;
  height: 24px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 655px;
  left: 275px;
  overflow: hidden;
}
.v125_1158 {
  width: 18px;
  height: 20px;
  background: rgba(71,138,166,1);
  opacity: 1;
  position: absolute;
  top: 2px;
  left: 2px;
}
.v125_1222 {
  width: 40px;
  height: 30px;
  background: rgba(233,251,255,1);
  opacity: 1;
  position: absolute;
  top: 217px;
  left: 355px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow: hidden;
}
.v125_1230 {
  width: 24px;
  height: 24px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 221px;
  left: 363px;
  overflow: hidden;
}
.v125_1231 {
  width: 14px;
  height: 16px;
  background: url("../images/v125_1231.png");
  opacity: 1;
  position: absolute;
  top: 4px;
  left: 5px;
  border: 2px solid rgba(71,138,166,1);
}
