* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.v19_1634 {
  width: 430px;
  height: 932px;
  background: rgba(233,250,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-top-left-radius: 18px;
  border-top-right-radius: 18px;
  border-bottom-left-radius: 18px;
  border-bottom-right-radius: 18px;
  overflow: hidden;
}
.v19_1641 {
  width: 430px;
  height: 82px;
  background: rgba(71,138,166,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 1px;
  overflow: hidden;
}
.v19_1642 {
  width: 174px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 29px;
  left: 127px;
  font-family: SFU Futura;
  font-weight: Heavy;
  font-size: 16px;
  opacity: 1;
  text-align: center;
}
.name {
  color: #fff;
}
.v19_1735 {
  width: 145px;
  color: rgba(71,138,166,1);
  position: absolute;
  top: 175px;
  left: 144px;
  font-family: SFU Futura;
  font-weight: Bold;
  font-size: 22px;
  opacity: 1;
  text-align: center;
}
.v19_1736 {
  width: 102px;
  color: rgba(71,138,166,1);
  position: absolute;
  top: 314px;
  left: 165px;
  font-family: SFU Futura;
  font-weight: Bold;
  font-size: 22px;
  opacity: 1;
  text-align: center;
}
.v19_1737 {
  width: 123px;
  color: rgba(71,138,166,1);
  position: absolute;
  top: 437px;
  left: 154px;
  font-family: SFU Futura;
  font-weight: Bold;
  font-size: 22px;
  opacity: 1;
  text-align: center;
}
.v19_1738 {
  width: 116px;
  color: rgba(71,138,166,1);
  position: absolute;
  top: 245px;
  left: 158px;
  font-family: SFU Futura;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: center;
}
.v19_1749 {
  width: 97px;
  color: rgba(71,138,166,1);
  position: absolute;
  top: 509px;
  left: 167px;
  font-family: SFU Futura;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: center;
}
.v19_1739 {
  width: 35px;
  color: rgba(71,138,166,1);
  position: absolute;
  top: 372px;
  left: 159px;
  font-family: SFU Futura;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: center;
}
.v19_1740 {
  width: 22px;
  color: rgba(71,138,166,1);
  position: absolute;
  top: 373px;
  left: 282px;
  font-family: SFU Futura;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: center;
}
.v19_1741 {
  width: 337px;
  height: 47px;
  background: rgba(217,217,217,0);
  opacity: 1;
  position: absolute;
  top: 233px;
  left: 48px;
  border: 1px solid rgba(0,0,0,0.5);
  border-top-left-radius: 79px;
  border-top-right-radius: 79px;
  border-bottom-left-radius: 79px;
  border-bottom-right-radius: 79px;
  overflow: hidden;
}
.v19_1742 {
  width: 337px;
  height: 47px;
  background: rgba(217,217,217,0);
  opacity: 1;
  position: absolute;
  top: 497px;
  left: 47px;
  border: 1px solid rgba(0,0,0,0.5);
  border-top-left-radius: 79px;
  border-top-right-radius: 79px;
  border-bottom-left-radius: 79px;
  border-bottom-right-radius: 79px;
  overflow: hidden;
}
.v19_1743 {
  width: 23px;
  height: 23px;
  background: url("../images/v19_1743.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 373px;
  left: 128px;
  border: 2px solid rgba(71,138,166,1);
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  overflow: hidden;
}
.v19_1744 {
  width: 23px;
  height: 23px;
  background: url("../images/v19_1744.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 374px;
  left: 251px;
  border: 2px solid rgba(71,138,166,1);
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  overflow: hidden;
}
.v19_1746 {
  width: 23px;
  height: 23px;
  background: url("../images/v19_1746.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 372px;
  left: 128px;
  overflow: hidden;
}
.v19_1747 {
  width: 23px;
  height: 23px;
  background: rgba(71,138,166,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border: 2px solid rgba(71,138,166,1);
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  overflow: hidden;
}
.v19_1748 {
  width: 15px;
  height: 11px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 6px;
  left: 5px;
}
