* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.v19_1576 {
  width: 430px;
  height: 932px;
  background: rgba(233,250,255,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  border-top-left-radius: 18px;
  border-top-right-radius: 18px;
  border-bottom-left-radius: 18px;
  border-bottom-right-radius: 18px;
  overflow: hidden;
}
.v169_895 {
  width: 250px;
  height: 250px;
  background: url("../images/v169_895.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 55px;
  left: 90px;
  overflow: hidden;
}
.v19_1591 {
  width: 430px;
  height: 82px;
  background: rgba(71,138,166,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v19_1592 {
  width: 169px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 29px;
  left: 131px;
  font-family: SFU Futura;
  font-weight: Heavy;
  font-size: 16px;
  opacity: 1;
  text-align: center;
}
.v19_1597 {
  width: 338px;
  color: rgba(71,138,166,1);
  position: absolute;
  top: 406px;
  left: 46px;
  font-family: SFU Futura;
  font-weight: Heavy;
  font-size: 24px;
  opacity: 1;
  text-align: center;
}
.name {
  color: #fff;
}
.v147_1421 {
  width: 23px;
  height: 46px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 64px;
  left: 48px;
  overflow: hidden;
}
.v147_1422 {
  width: 14px;
  height: 24px;
  background: rgba(233,251,255,1);
  opacity: 1;
  position: absolute;
  top: 11px;
  left: 6px;
}
